APP_ENV=dev
APP_DEBUG=true
HOST=https://

DB_DRIVER=
DB_PORT=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=
DB_COLLATION=
DB_PREFIX=

REDIS_HOST=
REDIS_PORT=
REDIS_DATABASE=
REDIS_PASSWORD=

JWT_KEY=Giroflée

WECHAT_APP_ID=
WECHAT_APP_SECRET=

WXPAY_MCH_ID=
WXPAY_KEY=
WXPAY_SANDBOX=
WXPAY_CERT_PATH=
WXPAY_KEY_PATH=
